html,
body {
    padding: 0;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    background-color: rgb(17, 24, 39);
    color: rgb(243, 244, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
